$top-header-color: #ebebeb;
$header-bg-grey: #f5f6fa;
$blue: #00578e;
$white: #ffffff;
$black: #000000;
$border-grey: #dcdbdb;
$text-grey: #888888;
$light-blue: #00a3d6;
$red: #d32f2f;
$nav-selected: #004e80;
$dialog-header-bg: #efefef;
$dialog-header-text: #7c7474;
$search-btn: #ced4da;
$green-text: #07b539;
