@use "@assets/scss/colors.scss" as *;

.table-container {
  table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid $header-bg-grey;
    margin-bottom: 10px;

    tr {
      border-top: 1px solid $header-bg-grey;
      height: 40px;

      .action-menu {
        padding: 0;
      }
    }
    td,
    th {
      padding: 5px;
      font-size: 11px;
      text-transform: capitalize;
    }
    th {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      text-align: left;
      background-color: $header-bg-grey;
      text-transform: uppercase;

      .filter-list {
        box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
        padding: 0.5rem;
        background-color: $white;

        .sort-parent {
          right: 10px;
          top: 14px;
        }

        .search-parent {
          margin-bottom: 0.5rem;
        }

        .filter-list-item:nth-child(odd) {
          background-color: $white;
        }

        .search-parent .search-input {
          height: 30px;
          border: 0;
          border-bottom: 1px solid #ccc;
        }

        .filter-label {
          font-size: 12px;
        }

        .filter-check-box.selected {
          border-color: $light-blue;
          background-color: $light-blue;
        }
      }

      .table-filter-parent {
        position: relative;
        z-index: 10;
        display: inline-block;
        padding-left: 0.5rem;
        cursor: pointer;
      }

      .table-filter-icon.selected {
        border-top-color: $green-text;
        box-shadow: inset 0 4px $green-text;
      }
    }

    .col-status {
      width: 150px;
    }
    .col-description {
      width: 200px;
    }
    .col-createdby {
      width: 120px;
    }
    .col-maxassets {
      width: 150px;
    }
    .col-pt3 {
      width: 130px;
    }
    .col-env {
      width: 120px;
    }
    .col-tech-type {
      width: 100px;
    }
    .col-deployment-type {
      width: 100px;
    }
    .col-additional-info {
      width: 80px;
    }
    .col-end-date {
      width: 90px;
    }
    .col-status-notes {
      width: 110px;
    }
    .col-status-changed {
      width: 105px;
    }
  }

  .pagination-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .pageSize-select > div {
    padding: 5px 30px 5px 10px;
  }

  .link {
    text-decoration: none;
    color: $light-blue;
    font-weight: 600;
  }
}
table tbody tr:hover {
  background-color: #f3f2f2;
}
